@using Newtonsoft.Json;
@using static AzDoWorkItemForm.WorkItemFields;
@model Field

@if (Model != null)
{
    <div class="form-group">
        <label for="@Model.docker_variable_name">@Model.name:<span class="required">*</span></label>
        @if (!string.IsNullOrEmpty(Model.description))
        {
            <p>@Model.description</p>
        }

        @if (Model.isPicklist)
        {
            // When the option changes, show any tips for the selected option
            <select name="@Model.docker_variable_name" required class="form-control" onchange="handleSelectChange('@Model.name', this)">
                <option value="">Select...</option>
                @foreach (var option in Model.Options.items)
                {
                    var tip = Model.Tips.FirstOrDefault(t => t.Key == option);
                    if(tip.Key == default) // If there is no tip, just write out the option
                    {
                        <option value="@option">@option</option>
                    }
                    else // If there is a tip, store it in data-tip
                    {
                        <option value="@option" data-tip=@Html.Encode(tip.Value)>@option</option>
                    }

                }
            </select>
        }
        else if (Model.type == "string")
        {
            <input type="text" name="@Model.docker_variable_name" required class="form-control">
        }
        else if (Model.type == "html")
        {
            <textarea name="@Model.docker_variable_name" required class="form-control"></textarea>
        }
    </div>
}